* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Segoe UI", sans-serif;

}



body {

    background:
        linear-gradient(135deg,
            #dff6ff,
            #89cff0);

    min-height: 100vh;

    display: flex;

    flex-direction: column;

    color: #334155;

}




.header {
    position: relative;

    height: 80px;

    background: white;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 80px;

    box-shadow:
        0 5px 20px rgba(0, 0, 0, .08);

}



.logo {

    font-size: 27px;

    font-weight: 700;

    color: #2563eb;

}



.menu {

    display: flex;

    gap: 35px;

}



.menu a {

    text-decoration: none;

    color: #334155;

}



.menu .btn {

    background:
        linear-gradient(135deg,
            #2563eb,
            #38bdf8);

    color: white;

    padding: 10px 22px;

    border-radius: 20px;

}





.layout {

    display: flex;

    flex: 1;

}





.sidebar {

    width: 240px;

    background: white;

    padding: 25px 15px;

    box-shadow:
        5px 0 20px rgba(0, 0, 0, .08);

}



.sidebar h2 {

    color: #2563eb;

    text-align: center;

    margin-bottom: 20px;

}



.sidebar a {

    display: block;

    padding: 12px 18px;

    margin-bottom: 5px;

    border-radius: 12px;

    text-decoration: none;

    color: #475569;

}



.sidebar a:hover,
.sidebar .active {

    background: #dff6ff;

    color: #2563eb;

}





.main {

    flex: 1;

    padding: 25px;

}




.hero,
.card,
.badge {

    background: white;

    border-radius: 20px;

    box-shadow:
        0 10px 25px rgba(37, 99, 235, .12);

}



.hero {

    padding: 25px;

    margin-bottom: 15px;

}



.hero h1 {

    color: #2563eb;

}





.achievement-list {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 15px;

}



.badge {

    padding: 25px;

    text-align: center;

}



.icon {

    font-size: 55px;

    margin-bottom: 10px;

}



.badge h2 {

    color: #2563eb;

}



.badge span {

    display: inline-block;

    margin-top: 15px;

    padding: 8px 15px;

    border-radius: 20px;

    background: #dff6ff;

    color: #2563eb;

}



.locked {

    opacity: .55;

}





.card {

    padding: 25px;

    margin-top: 15px;

}



.card h2 {

    color: #2563eb;

    margin-bottom: 20px;

}




.bar {

    margin-bottom: 20px;

}



.bar span {

    display: block;

    margin-bottom: 5px;

}



.bar div {

    height: 15px;

    background: #e2e8f0;

    border-radius: 20px;

}



.bar i {

    display: block;

    height: 100%;

    background:

        linear-gradient(90deg,
            #2563eb,
            #38bdf8);

    border-radius: 20px;

}





footer {

    background: white;

    padding: 25px;

    text-align: center;

    margin-top: auto;

    box-shadow:
        0 -5px 20px rgba(0, 0, 0, .08);

}



.footer-links {

    display: flex;

    justify-content: center;

    gap: 25px;

    margin: 10px;

}



.footer-links a {

    text-decoration: none;

    color: #2563eb;

}



hr {

    margin: 15px 0;

    border: none;

    border-top: 1px solid #ddd;

}





@media(max-width:900px) {


    .header {

        padding: 0 25px;

    }


    .menu {

        gap: 10px;

    }



    .layout {

        flex-direction: column;

    }



    .sidebar {

        width: 100%;

        display: flex;

        overflow: auto;

    }



    .sidebar h2 {

        display: none;

    }



    .sidebar a {

        white-space: nowrap;

    }



    .achievement-list {

        grid-template-columns: 1fr 1fr;

    }



}


@media(max-width:600px) {


    .achievement-list {

        grid-template-columns: 1fr;

    }


}



/* ================= SETTING MENU ================= */


.setting-menu {

    position: relative;

    display: flex;

    align-items: center;

    justify-content: center;

}



.setting-btn {

    width: 42px;

    height: 42px;

    border: none;

    border-radius: 50%;

    display: flex;

    align-items: center;

    justify-content: center;

    padding: 0;

    line-height: 1;

    font-size: 20px;

    background:
        linear-gradient(135deg,
            #2563eb,
            #38bdf8);

    color: white;

    cursor: pointer;

}





.setting-dropdown {

    position: absolute;

    right: 0;

    top: 50px;

    width: 210px;

    background: white;

    padding: 12px;

    border-radius: 15px;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, .15);

    display: none;

    z-index: 9999;

}



.setting-dropdown.show {

    display: block;

}





.setting-dropdown button {

    width: 100%;

    padding: 10px;

    border: none;

    background: none;

    text-align: left;

    border-radius: 10px;

    cursor: pointer;

}



.setting-dropdown button:hover {

    background: #dbeafe;

}





.dropdown-title {

    font-weight: bold;

    color: #2563eb;

    padding: 8px;

    font-size: 14px;

}





.setting-dropdown hr {

    border: none;

    border-top: 1px solid #ddd;

    margin: 8px 0;

}







/* DARK MENU */


body.dark .setting-dropdown {

    background: #0f172a;

    color: white;

}



body.dark .setting-dropdown button {

    color: white;

}



body.dark .setting-dropdown button:hover {

    background: #1e40af;

}


/* =====================================
   GLOBAL DARK MODE
===================================== */


body.dark {

    background:
        linear-gradient(135deg,
            #020617,
            #0f172a);

    color: #e2e8f0;

}




/* HEADER */

body.dark .header {

    background: #0f172a;

    box-shadow:
        0 5px 20px rgba(0, 0, 0, .4);

}



body.dark .logo {

    color: #38bdf8;

}



body.dark .menu a {

    color: #e2e8f0;

}





/* SIDEBAR */


body.dark .sidebar {

    background: #0f172a;

    box-shadow:
        5px 0 20px rgba(0, 0, 0, .4);

}



body.dark .sidebar h2 {

    color: #38bdf8;

}



body.dark .sidebar a {

    color: #cbd5e1;

}



body.dark .sidebar a:hover,
body.dark .sidebar .active {


    background: #1e3a8a;

    color: #ffffff;

}





/* CARD */


body.dark .hero,
body.dark .card,
body.dark .title,
body.dark .stat-card,
body.dark .badge,
body.dark .profile-card {


    background: #0f172a;

    color: #e2e8f0;

    box-shadow:
        0 10px 25px rgba(0, 0, 0, .4);

}




body.dark h1,
body.dark h2,
body.dark h3 {


    color: #38bdf8;

}






/* INPUT */


body.dark input,
body.dark textarea,
body.dark select {


    background: #1e293b;

    color: white;

    border-color: #475569;

}



body.dark label {

    color: #cbd5e1;

}






/* CALENDAR */


body.dark .day {


    background: #1e293b;

    color: white;

}



body.dark .day.head {


    background: #2563eb;

}



body.dark .week div {


    background: #1e293b;

    color: white;

}





/* MONTH */


body.dark .month div {


    background: #1e293b;

    color: #38bdf8;

}







/* PROGRESS */


body.dark .bar div {


    background: #334155;

}






/* FOOTER */


body.dark footer {


    background: #0f172a;

    color: #cbd5e1;

}



body.dark .footer-links a {

    color: #38bdf8;

}





/* SETTING DROPDOWN */


body.dark .setting-dropdown {


    background: #0f172a;

    color: white;

}



body.dark .setting-dropdown button {


    color: white;

}



body.dark .setting-dropdown button:hover {


    background: #1e40af;

}






/* =====================================
   MOBILE IMPROVEMENT
===================================== */


@media(max-width:900px) {


    .header {


        padding: 0 20px;

    }



    .logo {

        font-size: 22px;

    }



    .menu {


        gap: 10px;

    }



    .menu a:not(.btn) {


        display: none;

    }




    .setting-btn {


        width: 38px;

        height: 38px;

    }



    .main {


        padding: 15px;

    }




    .sidebar {


        overflow-x: auto;

    }




    .sidebar a {


        padding: 10px;

    }



}





@media(max-width:600px) {



    .cards,
    .achievement-list,
    .month {


        grid-template-columns: 1fr;

    }




    .profile-card {


        flex-direction: column;

    }




    .stats {


        flex-direction: column;

        gap: 20px;

    }



    .calendar {


        grid-template-columns: repeat(3, 1fr);

    }



}



/* ================= LIGHT THEME ================= */

body.light {

    background:
        linear-gradient(135deg,
            #dff6ff,
            #89cff0);

    color: #334155;

}


body.light .header,
body.light .sidebar,
body.light .card,
body.light .hero,
body.light .profile-card,
body.light .stat-card,
body.light .badge,
body.light footer {

    background: white;

    color: #334155;

}



body.light h1,
body.light h2,
body.light h3 {

    color: #2563eb;

}



body.light p,
body.light label {

    color: #475569;

}



body.light input,
body.light select,
body.light textarea {

    background: white;

    color: #334155;

    border-color: #cbd5e1;

}



/* ================= DARK THEME ================= */


body.dark {


    background:
        linear-gradient(135deg,
            #020617,
            #1e293b);


    color: white;

}



body.dark .header,
body.dark .sidebar,
body.dark .card,
body.dark .hero,
body.dark .profile-card,
body.dark .stat-card,
body.dark .badge,
body.dark footer {


    background: #0f172a;

    color: white;


}



body.dark h1,
body.dark h2,
body.dark h3 {


    color: #38bdf8;


}



body.dark p,
body.dark label {


    color: #cbd5e1;


}



body.dark input,
body.dark select,
body.dark textarea {


    background: #1e293b;

    color: white;

    border-color: #475569;


}


body.dark .sidebar a {


    color: #cbd5e1;

}



body.dark .sidebar a:hover,
body.dark .sidebar .active {


    background: #1e40af;

    color: white;

}